:root{
    --lightblue-color:#2196F3;
    --white-color:#FFFFFF;
    --second-text-color:#757575;
    --main-text-color:#212121;
}
body { 
    font-family: 'Roboto', sans-serif;
    color: var(--main-text-color);
    background-color:var(--white-color);
}
.logo-title{
    font-family: 'Raleway', sans-serif;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    color: #000000;
    font-weight: 700; 
    font-style:normal; 
    font-size: 26px;
}
.logo{
    font-weight: 700;  
    font-size: 26px;
    font-style:normal;
    color:var(--lightblue-color);
}
.site-nav{
    font-weight: 500;
    font-size: 14px;
    font-style:normal;
    letter-spacing: 0.02em;
}
.site-nav .link {
    color: var(--main-text-color);
}
.site-nav .link.current{
    color:var(--lightblue-color);
}
.site-nav .link:hover, 
.site-nav .link:focus{
    color:var(--lightblue-color);
}
.nav-list .contacts{
    font-style:normal;
    font-weight: 500;
    font-size: 14px;
    color: var(--second-text-color);
}
.nav-list .contacts:hover, .nav-list .contacts:focus{
    color:var(--lightblue-color);
}
.hero{
    background-color: #2F303A;
}
.hero .title{
    color: var(--white-color);
    font-weight: 900;
    font-size: 44px;
    font-style:normal;
    letter-spacing: 0.1em;
}
.hero .button{
    font-weight: 700;
    font-size: 16px;
    font-style:normal;
    background-color:var(--lightblue-color);
    color: var(--white-color);
    border: none;
    text-align: center;
    border-radius: 4px;
    padding: 10px 32px;
}
.hero .button:hover, .hero .button:focus{
    border-radius: 0px;
    padding: 11px 33px;
}
.hidden-title {
    display: none;
}
.section-list{
    font-size: 14px;
    font-style: normal;
    letter-spacing: 0.03em;
}
.section-list .title{
    font-weight: 700;
    color: var(--main-text-color);
}
.section-list .text{
    color: var(--second-text-color);
    font-weight: 400;
}
.section-title{
    font-weight: 700;
    font-size: 36px;
    font-style:normal;
}
.section .team{
    background-color: #F5F4FA;
}
.team-list{
    letter-spacing: 0.03em;
}
.team-list .title{
    font-weight: 500;
    font-size: 16px;
    font-style:normal;
    color: var(--main-text-color);
}
.team-list .text{
    font-weight: 400;
    font-size: 16px;
    font-style:normal;
    color: var(--second-text-color);
}
.footer{
    background-color: #2F303A;
}
.address{
    color: var(--white-color);
    font-weight: 400;
    font-style:normal;
    font-size: 14px;
}
.footer .logo-title{
    font-family: 'Raleway', sans-serif;
    font-style:normal;
    color: var(--white-color);
    font-weight: 700;
    font-size: 26px;
}
.filter .button{
    font-weight: 700;
    font-size: 16px;
    font-style:normal;
    background-color: #F5F4FA;
    color: var(--main-text-color);
    border: none;
    text-align: center;
    border-radius: 4px;
    padding: 6px 22px;
}
.filter .button:hover, .filter .button:focus{
    background-color: var(--lightblue-color);
    color: var(--white-color);
}
.work-list .title{
    font-style:normal;
    letter-spacing: 0.06em;
    font-weight: 700;
    font-size: 18px;
    color: var(--main-text-color);
}
.work-list .text{
    font-style:normal;
    font-weight: 400;
    font-size: 16px;
    letter-spacing: 0.03em;
    color: var(--second-text-color);
}
